.footer {
  background: #FFF;
  color: #000;
  padding: 60px 20px;
  font-size: 14px;
  max-width: 100vw;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-logo {
  flex: 1;
  max-width: 200px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .google-rating {
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }
  }
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
  line-height: 1.5;
}

.custom-margin {
  margin-bottom: 30px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #000;
  text-decoration: none;
  margin: 0 5px;
}

.social-links a {
  color: #000;
  margin: 0 10px;
  font-size: 20px;

  &:hover {
    color: #555;
  }
}
