  <footer class="container-fluid mt-2 ms-5">
    <div class="row" style="width:100vw">
      <div class="col-md-3 mb-4">
        <div class="footer-logo">
          <img src="<%=image_path('logo.png')%>" alt="AirPlant Logo" class="img-fluid">
          <p>Reconnectez vos espaces à la nature,<br> avec style.</p>
          <div class="google-rating">
            <span>Google </span>
            <span>★★★★★</span>
            <span>4,5/5</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Végétalisez</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-dark">Bureaux</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Jardins et terrasses</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Hôtel</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Événements</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Mur végétal</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Atelier Team-building</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Plantes artificielles</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Logo végétal</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Toiture végétalisée</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Entretien</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Louez</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-dark">Location événementielle</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Location annuelle</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Contactez-nous</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-dark">Devis</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Paris</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Bordeaux</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Marseille</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="footer-bottom text-center py-3">
    <div class="social-links mb-3">
      <a href="#"><i class="fab fa-instagram me-2"></i></a>
      <a href="#"><i class="fab fa-pinterest me-2"></i></a>
      <a href="#"><i class="fab fa-linkedin me-2"></i></a>
    </div>
    <p class="mb-">© 2024 Tous droits réservés - AirPlant.fr</p>
    <p class="mb-0">
      <a href="#" class="me-2 text-dark">Conditions générales de vente</a> |
      <a href="#" class="text-dark">Mentions légales</a>
    </p>
  </div>
