
<section class="py-5">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
					<span class="text-muted">Notre histoire</span>
					<h2 class="display-5 fw-bold">À propos</h2>
					<p class="lead">Nous sommes aux prémices d'une nouvelle vague : le retour flamboyant de la nature dans nos vies, dans nos intérieurs et dans notre quotidien. Nous savons aujourd'hui que le bien-être généré par la reconnection à la nature vivante est primordial.
Etant experts en plantes et en design, nous souhaitons participer à cette reconnection tout en conservant notre identité esthétique et épurée. Nous nous inspirons de ceux qui font la mode à Paris, mais également des paysagistes New-Yorkais, des scénographies végétales de Seoul.
Chez AirPlant, la plante est une pièce de mode, un objet naturellement design, une marque de style..</p>
					<p class="lead">Nous sommes une agence végétale 360° dont le but est de reconnecter le citadin à la nature, avec style et dans tous ses lieux de vie.
Nous concevons des espaces green luxuriants (intérieur et extérieur), nous les réalisons et les entretenons.
Nos clients sont des bureaux, des hôtels, des particuliers, des architectes, des agences événementielles...</p>
				</div>
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="https://img.freepik.com/vecteurs-libre/ensemble-art-vectoriel-vegetal-plante-interieur-dans-pot-fleur_53876-136755.jpg?t=st=1720597770~exp=1720601370~hmac=e2af2d38aa3d4558a2471de35e7db8a1d3b435f4b2cef18aedbf589a9fcfaf37&w=740"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="https://img.freepik.com/photos-gratuite/plante-monstera-deliciosa-dans-pot_53876-133119.jpg?t=st=1720597702~exp=1720601302~hmac=c51e8ecee9f7d63d211222e626ee9210c21a4b1ea97879d3e6ddee88f1994ffb&w=740"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="https://img.freepik.com/photos-gratuite/usine-nid-oiseau-dans-pot-beige_53876-134284.jpg?t=st=1720597726~exp=1720601326~hmac=328ea7be693862af635d7320e0392f256da3f02fd4c7c5af14ed43df0a45f0e3&w=740"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="https://img.freepik.com/photos-gratuite/plante-visage-poivre-dans-petit-pot_53876-94408.jpg?t=st=1720597745~exp=1720601345~hmac=84f3f9925c6f5f419934a548220a14a0d428d02dc8d6e0afbcfd6604d06cb16d&w=740"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
