<h1>My reservations</h1>
<div class="reservations-container">
  <div class="reservation">
    <h2>Cactus</h2>
    <p>Date: 2024-07-10</p>
    <p>Statut: Confirmé</p>
    <div class="actions">
      <button class="details">Voir les détails</button>
      <button class="cancel">Annuler</button>
      </div>
    </div>
  <div class="reservation">
    <h2>Monstera</h2>
    <p>Date: 2024-08-15</p>
    <p>Statut: En attente</p>
    <div class="actions">
      <button class="details">Voir les détails</button>
      <button class="cancel">Annuler</button>
    </div>
  </div>
</div>
